.footer {

  background: rgba(51, 51, 51, 0.05);
  padding-top: 30px;
  height: 100%;

 @include tablet {
  padding-top: 45px;
  height: 100%;
 

 }

  @include desktop {
    
    
    padding-top: 60px;
    
    margin-top: 120px;
    height: 588px;
    
  }
    
  }
  
  
  .footer-container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 70px;
    }
    @include desktop {
      display: flex;
    gap: 69px;
    
    }
    
    
   
  }
  
  .footer__title {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--first-title-text-color);
  width: 217px;

    @include desktop {
      font-size: 14px;
    }
  }
  
  .addres {
    width: 221px;
  }
  
  .footer-addres__list {
    
  }
  
  .footer__item {
    margin-top: 24px;
    height: 20px;
  }
  
  
  .footer__contact {
    display: flex;
    align-items: center;
    
    gap: 24px;
  }
  
  .footer-img__icon {
    fill: var(--accent-color);
  }
  
  .footer-icon {
    margin-top: 40px;
  }
  
  .footer-img__list {
    display: flex;
    gap: 20px;
  }
  
  
  .footer-network__icon {
    fill: black;
  }
  
  .footer-network__icon:hover,
  .footer-network__icon:focus {
    fill: var(--accent-color);
  }
  
  .footer-wrap {
    width: 200px;
  }
  
  
  .footer__capthion {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: var(--first-title-text-color);
  
  @include desktop {
    font-size: 20px;
  }
  
  }
  
  .footer__list {
    margin-top: 25px;
  }
  
  .footer__link {
    margin-top: 15px;
  }
  
  .footer__text {
   
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  
  @include desktop {
    font-size: 14px;
  }
  }


  .footer-wrapper {
    @media screen and (max-width:768px) {
      margin-top: 30px;;
    }
  }
  
  .footer__capthions {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    color: var(--first-title-text-color);
    margin-top: 40px;

    @include desktop {
      font-size: 20px;
    }
  }
  

  .footer-col {
    @media screen and (max-width:768px) {
      margin-top: 30px;;
    }
  }


  .footer-colum {
    @media screen and (max-width:768px) {
      margin-top: 30px;;
    }
  }
  
  .line {
    content: '';
    width: 1296px;
    height: 1px;
    background-color: var(--first-title-text-color) ;
    margin-top: 60px;
  }
  
  
  
  .logo-scool__title {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--first-title-text-color);
  padding-top: 25px;
  padding-bottom: 25px;
  }




