.header-ds {
    padding-top: 120px;
   padding-left: 80px;
   width: 1296px;
   height: 140px;
    
    
}

.header-ds__connect {
display: flex;
align-items: center;

}




  .header-ds__title {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--accent-color);
display: flex;
align-items: center;
margin-right: 131px;
width: 217px;


  }

  .header-ds-contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px; 
   
   
  }

  .header-ds__contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
  }

  .header-ds__icon {
    fill: var(--accent-color);
    margin-right: 20px;
  }

  .header-ds__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--firs-btn-text-color);
    background-color: var(--accent-color);
    min-width: 143px;
    height: 40px;
    /* margin-left: auto; */
   
    margin:  auto 0 auto 198px;
  }

  .header-ds__btn:focus,
  .header-ds__btn:hover {
    background: rgb(65, 7, 12);
}


  .header-ds-line {
    content: '';
    width: 1296px;
    height: 1px;
    background-color: rgba(51, 51, 51, 1);
    margin-top: 20px;
    opacity: 0.3;
  }

  .header-ds__content {
    display: flex;
    align-items: center;
  }

  

  .header-ds__nav__list {
    display: flex;
    justify-content: center;
    

  }

  .header-ds__nav__link {
   margin-right: 20px;
   
  }

  .header-ds__nav__item {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 140%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--first-title-text-color);
text-align: center;
display: flex;
/* align-items: center; */

  }