.hero {
    
    background-color: rgba(47, 48, 58, 0.4);
   
    background-image: url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
  }

  .hero-box {
    position: relative;
    
  }



.hero__title {
  position: absolute;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 140%;
color: #FFFFFF;
width: 526px;

width: 586px;
  height: 310px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
 margin-left: 90px;
top: 126px;
background: rgba(51, 51, 51, 0.5);

}

  
  .hero__btn {
    position: absolute;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
color: var(--firs-btn-text-color);
background-color: var(--accent-color);
width: 163px;
height: 58px;
margin-top: 486px;
margin-left: 90px;

  }

  .hero__btn:focus,
  .hero__btn:hover {
    background: rgb(65, 7, 12);
}

  .box-arrow {
    display: flex;
  }

  .rigth {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 315px;
    margin-left: 50px;
    height: 70px;
    width: 70px;
    background-color: var(--accent-color);
  }

  .rigth-icon{
    fill: var(--firs-btn-text-color);
    left: 20px;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 315px;
    margin-left: 1530px;
    height: 70px;
    width: 70px;
    background-color: var(--accent-color);

  }

