.new-scool {
    padding-top: 150px;
  }
  
  .new-scool__title {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 140%;
  text-align: left;
  letter-spacing: 0.01em;
  color: var(--first-title-text-color);
   

  @include tablet {
    text-align: center;
  }

  @include desktop {
    text-align: center;
    font-size: 48px;
   
    
  }
  
  }
  
  .new-scool__list {


    @include tablet {
      display: flex;
      flex-wrap: wrap;
     justify-content: center;
     gap: 24px;
    }
    
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
    
  }
  
  .new-scool__link {

    margin-top: 50px;
    width: 280px;
    

    @include desktop {
      margin-top: 100px;
      width: 306px;
      margin-right: 24px;
    }
    
  }
  
  .new-scool__caption {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: var(--first-title-text-color);

   

  @include desktop {
    font-size: 24px;
    height: 102px;
  }
  
  }
  
  .new-scool__text {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--first-title-text-color);
  margin-top: 50px;
  height: 132px;

 
  }
  
  
  


  
  .new-scool__btn {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  color: var(--firs-btn-text-color);
  background-color: var(--accent-color);
  width: 140px;
  height: 50px;
  padding: 15px 30px;
  margin-top: 70px;

  @include desktop {
    font-size: 20px;
    width: 163px;
    height: 58px;
  }
  
  
  }


  .new-scool__btn:focus,
  .new-scool__btn:hover {
      background: rgb(65, 7, 12);
  }