.widget {
  padding-top: 32px;
  padding-left: 37px;
}

  

  .widget-iner {
    display: flex;
  }
  
  
  .widget-btn__list {
    display: flex;
    align-items: center;
    gap: 51px;
    border: 1px dashed #9747FF;
    border-radius: 5px;
    padding: 20px;
    width: 397px;
  }





.widget__btn {
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: var(--firs-btn-text-color);
  background-color: var(--accent-color);
  width: 163px;
  height: 58px;
  padding: 15px 30px;
 
  
  }




  .widget__btn:focus,
  .widget__btn:hover {
      background: rgb(65, 7, 12);
      
  }



  .widget-btn__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--firs-btn-text-color);
    background-color: var(--accent-color);
    min-width: 143px;
    height: 40px;
   
  }

  .widget-btn__btn:focus,
  .widget-btn__btn:hover {
    background: rgb(65, 7, 12);
}





